@font-face {
    font-family: 'Chord4tab';
    src: url('fonts/chord4tab.eot');
	src: local('☺'), url('fonts/chord4tab.woff') format('woff'), url('fonts/chord4tab.ttf') format('truetype'), url('fonts/chord4tab.svg') format('svg');
}
@font-face {
    font-family: 'Annot4tab';
    src: url('fonts/Annot4tab.eot');
	src: local('☺'), url('fonts/Annot4tab.woff') format('woff'), url('fonts/Annot4tab.ttf') format('truetype'), url('fonts/Annot4tab.svg') format('svg');
}

a { text-decoration:none; color:black; } 
a:hover { text-decoration:underline; } 

#formtext { 
	width               : 470px;
	height              : auto;
	margin-left         : auto;
  	margin-right        : auto;
	/* border:1px solid #000; */
	text-align          : right;
	font-family         :monospace;
	font-size           :12px;
}

#memo {
    width               : 470px;
    height              : auto;
    margin-left         : auto;
    margin-right        : auto;
    background-color    : rgba(255,250,250,0.85);
}

caption {
    text-align:left;font-size:18px;text-decoration:underline;
}

#memo td {
	font-family         :monospace;		
	text-align          :center; 	
	vertical-align      :middle;
	table-layout        :fixed;
	width               :50px;
}

.infobulle {
        display             : none;
        color               : red;
        font-style          : italic;
        background-color    : rgba(255,0,0,0.1);
        border-radius       : 3px;
        padding             : 3px 10px;
}

#toread {
    font-family         : monospace;
    font-size           : 9px;
    color               : red;
    text-align          : justify;
    width               : 470px;
    height              : auto;
    margin-left         : auto;
    margin-right        : auto;
}
